@model _01_MyPortfolio.Models.Work
@{
    ViewBag.Title = "CreateWork";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Çalışma Girişi</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" name="Başlık" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Açıklama" class="form-control" />
    <br />
    <label>ImageUrl</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>GithubUrl</label>
    <input type="text" name="GithubUrl" class="form-control" />
    <br />
    <button class="btn btn-info">Çalışmayı Ekle</button>
</form>

