<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            @* # --> aynı sayfa içinde geçiş yapmak için kullanılır*@
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Ana Sayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#pigraEducation" class="nav-item nav-link"><span class="fas fa-school"></span> Eğitim Hayatım</a>
            <a href="#pigraExperience" class="nav-item nav-link"><span class="bi bi-briefcase"></span> Deneyimlerim</a>
            <a href="#pigraSkill" class="nav-item nav-link"><span class="bi bi-laptop"></span> Yeteneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="bi bi-gear"></span> Hizmetlerim</a>
            <a href="#pigraPortfolio" class="nav-item nav-link"><span class="bi bi-cast"></span> Projelerim</a>
            <a href="#pigraTestimonial" class="nav-item nav-link"><span class="bi bi-people-fill"></span> Referanslarım</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="bi bi-chat-dots"></span> İletişim</a>
        </div>
    </nav>
</div>