@model _01_MyPortfolio.Models.Experience
@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Deneyim Girişi</h2>

<form method="post">
    <label>Şirket Adı</label>
    <input type="text" name="CompanyName" required  class="form-control" />
    <br />
    <label>İş Tarihi</label>
    <input type="text" name="WorkDate" required class="form-control" />
    <br />
    <label>Unvan</label>
    <input type="text" name="Title" required class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" required maxlength="250" class="form-control" />
    <br />
    <button class="btn btn-info">Deneyimi Ekle</button>
</form>

