@model List<_01_MyPortfolio.Models.About>
@{
    ViewBag.Title = "AboutList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hakkımda</h2>

<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Hakkımda Yazısı</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Detail</td>
            <td>@item.ImageUrl</td>
            <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
            <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/About/CreateAbout" class="btn btn-info">Yeni Hakkımda Girişi</a>




