@model  _01_MyPortfolio.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.AboutId, new { @class = "form-control" })
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Detaylar</label>
    @Html.TextBoxFor(x => x.Detail, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info"> Ekle</button>
</form>


