@model List<_01_MyPortfolio.Models.Category>
@{
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2 class="mb-4">Mesaj Kategorileri</h2>
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>
            <th>Kategori Durumu</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryStatus</td>

                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }

    </table>
    <td><a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Ekle</a></td>
</div>