@model List<_01_MyPortfolio.Models.SocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Sosyal Medyalarım</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>İkon</th>
        <th>Durum</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Title</td>
            <td>@item.Icon</td>
            @if (item.Status == true)
            {
                <td><a href="/SocialMedia/SocialMediaStatusChangeToFalse/@item.SocialMediaId" class="btn btn-warning">Pasif</a></td>
            }
            else
            {
                <td><a href="/SocialMedia/SocialMediaStatusChangeToTrue/@item.SocialMediaId" class="btn btn-info">Aktif</a></td>
            }
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-secondary">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/SocialMedia/CreateSocialMedia" class="btn btn-info">Yeni Sosyal Medya Ekle</a>

